<div class="container">
  <p>
    Directives are use to change the behavior and appearance of DOM element.
  </p>
  <p>Directives can implement all lifecycle hooks.</p>
  <p>Directives can not have template</p>

  <div class="row">
    <div class="col">
      <h1>Binding Syntax</h1>
      <ul>
        <li>Interpolation</li>
        <li>Property Binding</li>
        <li>Event binding</li>
      </ul>
      <hr />
      <app-binding-syntax></app-binding-syntax>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col">
      <h1>Built-in Directives</h1>
      <ul>
        <li>
          *ngIf: This directive allows you to conditionally show or hide
          elements based on a condition. For example, you could use *ngIf to
          show a login form only if the user is not already logged in.
        </li>
        <li>
          *ngFor: This directive is used for looping over a collection of data
          and generating HTML elements for each item in the collection. For
          example, you could use *ngFor to display a list of items from an
          array.
        </li>
        <li>
          *ngSwitch: This directive is used for conditionally rendering HTML
          elements based on a variable's value. It works similarly to a switch
          statement in other programming languages
        </li>
        <li>
          *ngClass: This directive allows you to dynamically add or remove CSS
          classes based on a condition. For example, you could use *ngClass to
          apply a "highlight" class to an element when it is clicked
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col">
        <h4>Directives</h4>
        <app-ng-if-directive></app-ng-if-directive>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <app-ng-switch-case></app-ng-switch-case>
  </div>
</div>
